extends layout

block javascripts
  link(rel='stylesheet' media='all' href='/stylesheets/jquery.dynatable.css')
  script(type='text/javascript' src='/javascripts/jquery.dynatable.js')
  script(type='text/javascript' src='/javascripts/highcharts.js')
  script(type='text/javascript' src='/javascripts/hmac-sha256.js')
  script(type='text/javascript' src='/javascripts/enc-base64-min.js')

block content
  h1= title
  p Welcome to #{title}, #{user}
  br
  br
  h3 dummy sample request
  table#my-ajax-table
    thead
      tr
        th Some Attribute
        th Some Other Attribute
    tbody
  h3 cities sample request
  table#city-table
    thead
      tr
        th Id
        th Name
        th Pincode
    tbody
  script(type='text/javascript' src='/javascripts/script.js')
